<%= form_for @attempt, :html => {:multipart => true} do |f| %>
  <% if @attempt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attempt.errors.count, "error") %> prohibited this attempt from being saved:</h2>

      <ul>
      <% @attempt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero_problema %><br />
    <%= f.text_field :numero_problema %>
  </div>
  <div class="field">
    <%= f.label :code, 'Código' %><br />
    <%= f.file_field :code %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
