<%= form_for @attempt, :html => {:multipart => true} do |f| %>
  <% if @attempt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attempt.errors.count, "error") %> prohibited this attempt from being saved:</h2>

      <ul>
      <% @attempt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero_problema, 'Número de problema' %><br />
    <%= f.text_field :numero_problema, :size => 6, :value=>@numero%>
  </div>
  <div class="field">
    <%= f.label :code, 'Código fuente' %><br />
    <%= f.file_field :code %>
  </div>
  <div class="field">
  	Lenguaje
  	<br />
    <select id="lenguaje" name="lenguaje"><option>Java</option><option>C/C++</option></select> 
  </div>

  <div class="actions">
    <%= f.submit( "Subir solución", :onclick =>"clickBoton()")%>
    <%=image_tag("loading.gif", :size => "50x50", :id=>"loading")%>
  </div>
<% end %>
