<%= form_for @attempt, :html => {:multipart => true} do |f| %>

	  <% if @attempt.errors.any? %>
		<div id="error_explanation">
		  <h2><%= @attempt.errors.count>1? "#{@attempt.errors.count} Errores":"#{@attempt.errors.count} Error" %></h2>

		  <ul>
		  <% @attempt.errors.each do |attr_name, message| %>
		    <li><%= message %></li>
		  <% end %>
		  </ul>
		</div>
	  <% end %>


  <div class="field">
    <%= f.label :numero_problema, 'Número de problema' %><br />
    <%= f.text_field :numero_problema, :size => 6, :value=>@numero%>
  </div>
  <div class="field">
  	Lenguaje
  	<br />
    <select id="lenguaje" name="lenguaje">
        <option>Java</option>
        <!-- <option>C/C++</option> -->
    </select> 
  </div>
  
  <div class="field">
  	Forma de envio
  	<br />
  	<input type="radio" name="envio" id="btnSubir" checked="true" value="subir"/>
  	<label>Subir archivo</label>
  	<br />
  	<!--
  	<input type="radio" name="envio" id="btnPegar" value="pegar"/>
  	<label>Pegar codigo</label>
  	-->
  </div>
  
  <div class="field" id="divSubir">
    <%= f.label :code, 'Código fuente' %>
    <%= image_tag "infoicon.png" ,:size => "20x20", :id=> "infoCodigo"%>
		<span id="spInfoCodigo", class="tooltip"> 
			Archivo de código fuente, es muy importante que el nombre inicie 
			<br />
			con la palabra 'Problema' o 'Método' según sea el caso, más el número 
			<br />
			de problema que está solucionando. 
			<br />
			Ejemplo:
			<br />
			<code>
				Problema1001.java
				<br />
				Metodo1001.java
			</code>
		</span>
    <br />
    <%= f.file_field :code %>
  </div>
  
  <div >
  <div class="field" id="divPegar">
    <label>Codigo</label>
    <textarea id="codigo" name="codigo" cols="95" rows="40">Utiliza esta area para pegar tu codigo fuente...</textarea>
  </div>
  </div>
  
  <div class="actions">
    <%= f.submit( "Subir solución", :onclick =>"clickBoton()", :class=>"botones")%>
  </div>
  
  <%=image_tag("loading.gif", :size => "50x50", :id=>"loading")%>
<% end %>
