<%= form_for @attempt, :html => {:multipart => true} do |f| %>

	  <% if @attempt.errors.any? %>
		<div id="error_explanation">
		  <h2><%= @attempt.errors.count>1? "#{@attempt.errors.count} Errores":"#{@attempt.errors.count} Error" %></h2>

		  <ul>
		  <% @attempt.errors.each do |attr_name, message| %>
		    <li><%= message %></li>
		  <% end %>
		  </ul>
		</div>
	  <% end %>

  <div class="field">
    <%= f.label :numero_problema, 'Número de problema' %><br />
    <%= f.text_field :numero_problema, :size => 6, :value=>@numero%>
  </div>
  <div class="field">
  	Lenguaje
  	<br />
    <select id="lenguaje" name="lenguaje">
        <option>Java</option>
        <option>C/C++</option> 
    </select> 
  </div>
  <!--
  <div class="field">
  	<fieldset>
  		<legend>Forma de envio</legend>
	  	<%= f.radio_button :envio, 'pegar', :id=>"btnPegar"%>
		<%= label_tag(:btnPegar, "Pegar código") %><br />
		<%= f.radio_button :envio, 'subir', :id=>"btnSubir"%>
		<%= label_tag(:btnSubir, "Subir archivo") %><br />
	</fieldset>
  </div>
  -->
  
  <div class="field" id="divSubir">
  	<fieldset>
  		<legend>
  			<%= f.label :code, 'Código fuente' %>
  			<%= image_tag "infoicon.png" ,:size => "20x20", :id=> "infoCodigo"%>
  		</legend>
				<span id="spInfoCodigo", class="tooltip"> 
					Archivo de código fuente, es muy importante que el nombre inicie 
					<br />
					con la palabra 'Problema' o 'Método' según sea el caso, más el número 
					<br />
					de problema que está solucionando. 
					<br />
					Ejemplo:
					<br />
					<code>
						Problema1001.java
						<br />
						Metodo1001.java
					</code>
				</span>
			<br />
			<%= f.file_field :code %>
	</fieldset>
  </div>
  
  <div class="field" id="divPegar">
    <label>Código</label>
    <textarea id="codigo" name="codigo" cols="95" rows="40" title="Utiliza esta área para pegar tu código fuente..." 
    	style="background-color:#0c0c0c;color:#FFFFFF;"></textarea>
  </div>

  <br />
  <div class="actions">
    <%= f.submit( "Subir solución", :onclick =>"clickBoton()", :class=>"botones")%>
  </div>
  
  <%=image_tag("loading.gif", :size => "50x50", :id=>"loading")%>
<% end %>
