<h1>Listing attempts</h1>

<table>
  <tr>
    <th>Numero problema</th>
    <th>Resultado</th>
    <th>User</th>
    <th>Problem</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attempts.each do |attempt| %>
  <tr>
    <td><%= attempt.numero_problema %></td>
    <td><%= attempt.resultado %></td>
    <td><%= attempt.user.nombre %></td>
    <td><% attempt.problem %></td>
    <td><%= link_to 'Show', attempt %></td>
    <td><%= link_to 'Edit', edit_attempt_path(attempt) %></td>
    <td><%= link_to 'Destroy', attempt, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attempt', new_attempt_path %>
