<h1>Lista de intentos</h1>

<table>
  <tr>
    <th>Numero problema</th>
    <th>Resultado</th>
    <th>Usuario</th>
    <th>Problema</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attempts.each do |attempt| %>
  <tr>
    <td><%= attempt.numero_problema %></td>
    <td><%= attempt.resultado %></td>
    <td><%= attempt.user.nombre %></td>
    <td><% attempt.problem %></td>
    <td><%= link_to 'Ver', attempt %></td>
    <td><%= link_to 'Editar', edit_attempt_path(attempt) %></td>
    <td><%= link_to 'Borrar', attempt, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Intento', new_attempt_path %>
