<h1>Historial de intentos</h1>
<%= paginate @problemas %>
<table class="unaZebra">
	<tr>
		<th> Problema </th>
		<th> Título </th>
		<th> Aceptado </th>
		<th> Rechazado </th>
		<th> Error de compilación </th>
		<th> Tiempo excedido </th>
	</tr>
	<% @problemas.each do |problema| %>
	<tr>
		<% attempt = @attempts.where(:numero_problema => problema.numero_problema) %>
		<td> <%= link_to problema.numero_problema, attempt.last %> </td>
		<td> <%= attempt.first.problem.titulo %> </td>
		<td> <%= attempt.select('count(id) as conteoAceptado').where(:resultado => "Aceptado").first.conteoAceptado %> </td>
		<td> <%= attempt.select('count(id) as conteoR').where(:resultado => "Rechazado").first.conteoR %> </td>
		<td> <%= attempt.select('count(id) as conteoE').where(:resultado => "Error de compilación").first.conteoE %> </td>
		<td> <%= attempt.select('count(id) as conteoTE').where(:resultado => "Tiempo excedido").first.conteoTE %> </td>
	</tr>
	<% end %>
</table>
<br />

<br />

<%= link_to 'Nuevo Intento', new_attempt_path %>
