<p>
  <b>Problema </b>
  <%= @attempt.numero_problema %> - <%= @attempt.problem.titulo %>
</p>

<p>
  <b>Usuario:</b>
  <%= @attempt.user.nombre %>
</p>

<p>
  <b>Matrícula:</b>
  <%= @attempt.user.matricula %>
</p>

<br />

<p>

    <%if @attempt.resultado == "Aceptado"%>
    <div id="aceptado" class="respuesta">
    <%= image_tag "verde.ico" %><div id="resultado"><%= @attempt.resultado %></div>
    </br>
    <p class="descripcion">¡Felicidades, tu solución al problema fue exitosa!</p>
    </div>
    
    <%elsif @attempt.resultado == "Rechazado" %>
    <div id="rechazado" class="respuesta">
    <%= image_tag "magenta.ico" %><div id="resultado"><%= @attempt.resultado %></div>
    </br>
    <p class="descripcion">Lo sentimos, tu solución ha sido rechazada.</p>
    </div>
   
   <%elsif @attempt.resultado == "Tiempo excedido" %>
    <div id="error" class="respuesta">
    <%= image_tag "ambar.ico" %><div id="resultado"><%= @attempt.resultado %></div>
    <p class="descripcion">Tu solución tardó más tiempo del permitido.</p>
    </div>
    
    <%else%>
    <div id="error" class="respuesta">
    <%= image_tag "ambar.ico" %><div id="resultado"><%= @attempt.resultado %></div>
    <p class="descripcion">Lo sentimos, tu código no ha podido ser compilado en el servidor.</p>
    </div>
    <%end%>
</p>

<% if @attempt.resultado.include? 'Error de compilación' %>
	<%= text_area_tag 'errorP', @error , :disabled => true, :size => "90x40" %>
<% end %>

<br />
<br />
Código fuente:
<br />
<br />
<%= text_area_tag 'codigo', @codigo , :disabled => true, :size => "90x40" %>


<%if current_user.admin? || current_user.profesor?%>
	<% link_to 'Editar', edit_attempt_path(@attempt) %>
<%end%>	

<%if current_user.admin? || current_user.profesor?%>
	<% link_to 'Regresar', attempts_path %>
<%end%>	

