<p>
  <b>Número problema:</b>
  <%= @attempt.numero_problema %>
</p>

<p>
  <b>Resultado:</b>
  <% @attempt.resultado %>
</p>

<p>
  <b>Usuario:</b>
  <%= @attempt.user.nombre %>
</p>

<p>
  <b>Problema:</b>
  <%= @attempt.numero_problema %>
</p>

<div id="experimental" >
	Aqui imprimirá el resultado
	<br />
	<%= @attempt.resultado %>
</div>

<% if @attempt.resultado.include? 'Error de compilación' %>
	<%= text_area_tag 'error', @error , :disabled => true, :size => "90x40" %>
<% end %>


<%= link_to 'Editar', edit_attempt_path(@attempt) %> |
<%= link_to 'Regresar', attempts_path %>
