<p>
  <b>Problema </b>
  <%= @attempt.numero_problema %> - <%= @attempt.problem.titulo %>
</p>

<p>
  <b>Usuario:</b>
  <%= @attempt.user.nombre %>
</p>

<p>
  <b>Matrícula:</b>
  <%= @attempt.user.matricula %>
</p>

<p>
  <b>Resultado:</b>
  <%= @attempt.resultado %>
</p>

<% if @attempt.resultado.include? 'Error de compilación' %>
	<%= text_area_tag 'errorP', @error , :disabled => true, :size => "90x40" %>
<% end %>


<%if current_user.admin? || current_user.profesor?%>
	<%= link_to 'Editar', edit_attempt_path(@attempt) %>
<%end%>	

<%if current_user.admin? || current_user.profesor?%>
	<%= link_to 'Regresar', attempts_path %>
<%end%>	

