<p>
  <b>Problema </b>
  <%= @attempt.numero_problema %> - <%= @attempt.problem.titulo %>
</p>

<p>
  <b>Usuario:</b>
  <%= @attempt.user.nombre %>
</p>

<p>
  <b>Matrícula:</b>
  <%= @attempt.user.matricula %>
</p>

<p>
  <b>Resultado:</b>
    <%if @attempt.resultado == "Aceptado"%>
    <div id="aceptado" class="respuesta">
    <%= image_tag "verde.ico" %><div id="resultado"><%= @attempt.resultado %></div>
    </div>
    <%elsif @attempt.resultado == "Rechazado" %>
    <div id="rechazado" class="respuesta">
    <%= image_tag "magenta.ico" %><div id="resultado"><%= @attempt.resultado %></div>
    </div>
    <%else%>
    <div id="error" class="respuesta">
    <%= image_tag "ambar.ico" %><div id="resultado"><%= @attempt.resultado %></div>
    </div>
    <%end%>
</p>

<% if @attempt.resultado.include? 'Error de compilación' %>
	<%= text_area_tag 'errorP', @error , :disabled => true, :size => "90x40" %>
<% end %>


<%if current_user.admin? || current_user.profesor?%>
	<%= link_to 'Editar', edit_attempt_path(@attempt) %>
<%end%>	

<%if current_user.admin? || current_user.profesor?%>
	<%= link_to 'Regresar', attempts_path %>
<%end%>	

