<h3 id="menuTitulo"><%="Menú" if !user_signed_in?%><%=current_user.try(:nombre)%></h3>
<ul class="botones">
<li><%=link_to "Inicio", root_path, :class=>"botones "+(@tab=="home"? "botonon" : "botonoff")%></li>
<li><%=link_to "Lista de Problemas", problems_path, :class=>"botones "+(@tab=="listaP"? "botonon" : "botonoff")%></li>
<% if user_signed_in? %>
  <li><%=link_to "Subir Solución", new_attempt_path, :class=>"botones "+(@tab=="newA"? "botonon" : "botonoff")%></li>
  <li><%=link_to "Editar Perfil", edit_user_registration_path, :class=>"botones "+(@tab=="editU"? "botonon" : "botonoff")%></li>
  <li><%=link_to "Historial", attempts_path, :class=>"botones "+(@tab=="home"? "botonon" : "botonoff")%></li>
  <%if current_user.profesor? or current_user.admin? %>
    <li><%=link_to "Crear Problema", new_problem_path, :class=>"botones "+(@tab=="newP"? "botonon" : "botonoff")%></li>
    <li><%=link_to "Grupos", groups_path, :class=>"botones "+(@tab=="listaG"? "botonon" : "botonoff")%></li>
    <li><%=link_to "Editar Alumnos", root_path, :class=>"botones "+(@tab=="home"? "botonon" : "botonoff")%></li>
    <li><%=link_to "Editar Usuarios", root_path, :class=>"botones "+(@tab=="home"? "botonon" : "botonoff")%></li>
  <%end%>
  <%if current_user.admin?%>
    <li><%=link_to "Administrar", admin_index_path, :class=>"botones "+(@tab=="home"? "botonon" : "botonoff")%></li>
  <%end%>
    <li><%=link_to "Salir", destroy_user_session_path, :class=>"botones botonoff"%></li>
<% else %>
<li><%=link_to "Entrar", new_user_session_path, :class=>"botones "+(@tab=="entrar"? "botonon" : "botonoff")%></li>
<li><%=link_to "Registro", new_user_registration_path, :class=>"botones "+(@tab=="registroU"? "botonon" : "botonoff")%></li>
<%end%>
</ul>

