<%= form_for@group, :html => {:multipart => true} do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :clave %><br />
    <%= f.text_field :clave %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :campus %><br />
    <%= f.text_field :campus %>
  </div>
  <div class="field">
    <%= f.label :semestre %><br />
    <%= f.text_field :semestre %>
  </div>
  <div class="field">
    <%= f.label :ano , "Año"%><br />
    <%= f.text_field :ano %>
  </div>
  <div class="field">
    <%= f.label :mes %><br />
    <%= f.text_field :mes %>
  </div>
  <div class="field">
    <%= f.label :usuario %><br />
    <%= f.text_field :user %>
  </div>
  <div>
    <%=f.file_field :miembros %>
  </div>
  <div class="actions">
    <%= f.submit "Registrar cambios" %>
  </div>
<% end %>
