<%= form_for@group, :html => {:multipart => true} do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= @group.errors.count>1? "#{@group.errors.count} Errores":"#{@group.errors.count} Error" %></h2>

      <ul>
      <% @group.errors.each do |attr_name, message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :clave %><br />
    <%= f.text_field :clave, :size => 12 %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, :size => 12 %>
  </div>
  <div class="field">
    <%= f.label :campus %><br />
    <%= f.text_field :campus, :size => 12 %>
  </div>
  <div class="field">
    <%= f.label :semestre %><br />
    <%= f.text_field :semestre, :size => 12 %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.text_field :fecha, :size => 12 %>
  </div>
  <div>
    <%=f.file_field :miembros %>
  </div>
  <div class="actions">
    <%= f.submit "Registrar cambios" %>
  </div>
<% end %>
