<h1>Listado de Grupos</h1>

<table>
  <tr>
    <th>Clave</th>
    <th>Nombre</th>
    <th>Usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.clave %></td>
    <td><%= group.nombre %></td>
    <td><%= group.user %></td>
    <td><%= link_to 'Ver', group %></td>
    <td><%= link_to 'Editar', edit_group_path(group) %></td>
    <td><%= link_to 'Borrar', group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Crear Grupo', new_group_path %>
