<h1>Listado de Grupos</h1>
<%= paginate @groups%>
</br>
<table>
  <tr>
    <th align="left">Clave</th>
    <th align="left">Nombre</th>
    <th align="left">Semestre</th>
    <th align="left">Fecha</th>
    <th align="left">Profesor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td width=100><%= link_to group.clave, group %></td>
    <td width=100><%= group.nombre %></td>
    <td width=100><%= group.semestre %></td>
    <td width=100><%= group.fecha %></td>
    <td width=100><%= group.user.nombre %></td>
    <td><%= link_to image_tag('Edit.jpg', :title => 'Editar grupo'), edit_group_path(group) %></td>
    <td><%= link_to image_tag('Delete.jpg', :title => 'Eliminar grupo'), group, :confirm => '¿Está seguro que desea borrar el grupo?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Crear Grupo', new_group_path %>
