<h1> C&oacute;digo fuente del alumno </h1>
<br />
<%= @usuario.nombre %>&nbsp;<%= @usuario.apellido %>
<br />
<%= @usuario.matricula %>
<br />
Problema <%= @problema.numero %>
<br />
<br />

<hr />
<br /> 
Ultimo intento aceptado:
<% if defined? @codigoaceptado %>
	<%= text_area_tag 'codigoaceptado', @codigoaceptado, :disabled => true, :size => "90x40" %>
<% end %>

<hr />
<br /> 
Ultimo intento enviado:
<% if defined? @codigo %>
	<%= text_area_tag 'codigo', @codigo, :disabled => true, :size => "90x40" %>
<% end %>
