<!DOCTYPE html>
<html>
<head>
  <title>Sistema de Evaluaci&oacute;n Para el Aprendizaje de la Programaci&oacute;n</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>

<body>

<div class="header">
<%=image_tag "logo.jpg"%>
</div>

<div class="etc" align="right">
	<% if user_signed_in? %>
		¡Bienvenido <%= current_user.nombre %>!
		<%= link_to "Salir", destroy_user_session_path %>
	<% else %>
		¡Bienvenido!
		<%= link_to "Entrar", new_user_session_path %>
	<% end %>
</div>

<div class="centro" >
	<table class="division">
		<tr>
			<td class="menu">
				<ul class="menu">
				    <li class="menu"><%=link_to "Inicio", root_path%></li>
				    <% if user_signed_in? %>
						<%if current_user.estudiante?%>
							<li class="menu"><%=link_to "Lista de Problemas", problems_path%></li>
							<li class="menu"><%=link_to "Subir Solucion", new_attempt_path%></li>
							<li class="menu"><%=link_to "Editar Perfil", edit_user_registration_path%></li>
							<li class="menu"><%=link_to "Historial", root_path%></li>
						<%end%>
						<%if current_user.profesor?%>
							<li class="menu"><%=link_to "Lista de Problemas", problems_path%></li>
							<li class="menu"><%=link_to "Subir Solucion", new_attempt_path%></li>
							<li class="menu"><%=link_to "Editar Perfil", edit_user_registration_path%></li>
							<li class="menu"><%=link_to "Historial", root_path%></li>
							<li class="menu"><%=link_to "Crear Problema", new_problem_path%></li>
							<li class="menu"><%=link_to "Administracion de Grupos", groups_path%></li>
							<li class="menu"><%=link_to "Editar Alumnos", root_path%></li>
							<li class="menu"><%=link_to "Editar Usuarios", root_path%></li>
							<li class="menu"><%=link_to "Salir", destroy_user_session_path%></li>
						<%end%>
						<%if current_user.admin?%>
							<li class="menu"><%=link_to "Lista de Problemas", problems_path%></li>
							<li class="menu"><%=link_to "Subir Solucion", new_attempt_path%></li>
							<li class="menu"><%=link_to "Editar Perfil", edit_user_registration_path%></li>
							<li class="menu"><%=link_to "Historial", root_path%></li>
							<li class="menu"><%=link_to "Crear Problema", new_problem_path%></li>
							<li class="menu"><%=link_to "Administracion de Grupos", groups_path%></li>
							<li class="menu"><%=link_to "Editar Alumnos", root_path%></li>
							<li class="menu"><%=link_to "Editar Usuarios", root_path%></li>
							<li class="menu"><%=link_to "Salir", destroy_user_session_path%></li>
						<%end%>
					<% else %>
						<li class="menu"><%=link_to "Registro", new_user_registration_path%></li>
					    <li class="menu"><%=link_to "Ingresar", new_user_session_path%></li>
					    <li class="menu"><%=link_to "Lista de Problemas", problems_path%></li>
					<% end %>
					

				</ul>

			</td>

			<td class="aplicacion">
				<%=yield%>
			</td>
		</tr>
	</table>
</div>

</div>


<div class="footer">
Instituto Tecnológico y de Estudios Superiores de Monterrey
</div>


</body>
</html>
