<!DOCTYPE html>
<html>
<head>
  <title>Sistema de Evaluaci&oacute;n Para el Aprendizaje de la Programaci&oacute;n</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>

<body>

<div class="header">
<%=image_tag "logo.jpg"%>
</div>

<div class="etc" align="right">
	Bienvenido
</div>

<div class="centro" >
	<table class="division">
		<tr>
			<td class="menu">
				<ul class="menu">
					<li class="menu"><%=link_to "Inicio", root_path%></li>
					<li class="menu"><%=link_to "Registro", new_user_registration_path%></li>
					<li class="menu"><%=link_to "Ingresar", new_user_session_path%></li>
					<li class="menu"><%=link_to "Lista de Problemas", problems_path%></li>
					<li class="menu"><%=link_to "Editar Perfil", edit_user_registration_path%></li>
					<li class="menu"><%=link_to "Historial", root_path%></li>
					<li class="menu"><%=link_to "Crear Problema", new_problem_path%></li>
					<li class="menu"><%=link_to "Crear Grupo", new_group_path%></li>
					<li class="menu"><%=link_to "Editar Alumnos", root_path%></li>
					<li class="menu"><%=link_to "Editar Usuarios", root_path%></li>
					<li class="menu"><%=link_to "Salir", destroy_user_session_path%></li>
				</ul>

			</td>

			<td class="aplicacion">
				<%=yield%>
			</td>
		</tr>
	</table>
</div>

</div>


<div class="footer">
Instituto Tecnologico y de Estudios Superiores de Monterrey
</div>


</body>
</html>
