<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Sistema de Evaluación Para el Aprendizaje de la Programación</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%=image_tag "logo.jpg"%>
    <div class="menu">
      <%= render "/general/menu"%>
    </div>

    <div class="contenido">
      <%=yield%>
    </div>
  </body>
</html>
