<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Sistema de Evaluación Para el Aprendizaje de la Programación</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="contenido">
      <div id="header"><%= render "/general/header"%></div>
      <div class="wrapper">
	<div id="menu"><%= render "/general/menu"%></div>
	<div id="yield"><%=yield%></div>
      </div>
    </div>
    <div id="footer"><hr /><%= render "/general/footer"%></div>
  </body>
</html>
