<%= form_for @problem, :html => {:multipart => true} do |f| %>
  <% if @problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
      <% @problem.errors.each do |attr_name, message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero, 'Número de problema' %><br />
    <%= f.text_field :numero %>
  </div>
  
  <div class="field">
    <%= f.label :titulo, 'Título' %><br />
    <%= f.text_field :titulo %>
  </div>

  <div class="field">
    <%= f.label :tiempo, 'Tiempo límite (en segundos)' %><br />
    <%= f.text_field :tiempo, :size => 4, :value => 15 %>
  </div>
  
  <div class="field">
  	Tipo de problema 
  	<br />
  	<%= f.radio_button :modulo, 'false' %>
  	Completo
	<br />
	<%= f.radio_button :modulo, 'true' %>
	Módulo
  </div>
  
  <div class="field">
    <%= f.label :descripcion, 'Descripción' %><br />
    <%= f.text_area :descripcion, :cols => 80, :rows => 40 %>
  </div>
  
  <fieldset>
  	  <legend>Solución</legend>
	  <div class="field">
		<%= f.label :solution, 'Ejecutable con el main (archivo compilado)' %><br />
		<%= f.file_field :solution %>
	  </div>
	  <div class="field">
		<%= f.label :metodo, 'Metodo(s) utilizado(s) (archivo compilado)' %><br />
		<%= f.file_field :metodo %>
	  </div>
  </fieldset>
  
  <br />
  
  <fieldset>
      <legend>Entradas</legend>
      <div class="field">
        <%= f.label :input, 'Entradas 1' %><br />
        <%= f.file_field :input %>
      </div>
      <div class="field">
        <%= f.label :input2, 'Entradas 2' %><br />
        <%= f.file_field :input2 %>
      </div>
      <div class="field">
        <%= f.label :input3, 'Entradas 3' %><br />
        <%= f.file_field :input3 %>
      </div>
  </fieldset>
  
  <br />

  <fieldset>
      <legend>Salidas</legend>
      <div class="field">
        <%= f.label :output, 'Salidas 1' %><br />
        <%= f.file_field :output %>
      </div>
      
      <div class="field">
        <%= f.label :output, 'Salidas 2' %><br />
        <%= f.file_field :output2 %>
      </div>
      
      <div class="field">
        <%= f.label :output, 'Salidas 3' %><br />
        <%= f.file_field :output3 %>
      </div>
  </fieldset>
  <br />
  <div class="actions">
    <%= f.submit "Registrar Cambios"%>
  </div>
<% end %>
