<%= form_for @problem, :html => {:multipart => true} do |f| %>
  <% if @problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
      <% @problem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero, 'Número de problema' %><br />
    <%= f.text_field :numero %>
  </div>
  <div class="field">
    <%= f.label :titulo, 'Título' %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :descripcion, 'Descripción' %><br />
    <%= f.text_area :descripcion, :cols => 80, :rows => 40 %>
  </div>
  
  
  <div class="field">
    <%= f.label :solution, 'Solución' %><br />
    <%= f.file_field :solution %>
  </div>
  <div class="field">
    <%= f.label :input, 'Entradas' %><br />
    <%= f.file_field :input %>
  </div>
  <div class="field">
    <%= f.label :output, 'Salidas' %><br />
    <%= f.file_field :output %>
  </div>
  
  <div class="actions">
    <%= f.submit "Registrar Cambios"%>
  </div>
<% end %>
