<h1>Listing problems</h1>

<table>
  <tr>
    <th>Numero</th>
    <th>Titulo</th>
    <th>Descripcion</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%= problem.numero %></td>
    <td><%= problem.titulo %></td>
    <td><%= problem.descripcion %></td>
    <td><%= problem.user.nombre %></td>
    <td><%= link_to 'Show', problem %></td>
    <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
    <td><%= link_to 'Destroy', problem, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Problem', new_problem_path %>
