<h1>Listado de problemas</h1>

<table>
  <tr>
    <th>Número</th>
    <th>Título</th>
    <th>Usuario</th>
    <th> </th>
    <th> </th>

  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%= link_to problem.numero, problem %></td>
    <td width=150><%= problem.titulo %></td>
    <td width=110><%= problem.user.nombre %></td>
    
    <% if user_signed_in? %>
		<%if current_user.admin? || current_user.profesor?%>
			<td><%= link_to 'Editar', edit_problem_path(problem) %></td>
			<td><%= link_to 'Eliminar', problem, :confirm => 'La acción eliminará el problema de la base de datos así como los archivos que se hayan adjuntado del mismo', :method => :delete %></td>
		<%end%>	
	<%end%>
    
   
    </tr>
<% end %>
</table>

<br />

<% if user_signed_in? %>
	<%if current_user.admin? || current_user.profesor?%>
		<%= link_to 'Crear problema nuevo', new_problem_path %>
	<%end%>	
<%end%>

