<h2>Problema <%= @problem.numero %>: <%= @problem.titulo %></h2>
<%= link_to "Enviar solución", nuevo_intento_path( :numero => @problem.numero), :class=>"botonoff botones" if user_signed_in? %>

<!--
<%-# interpretar(@problem.descripcion) -%>
-->

<p>
	<%= @problem.descripcion.html_safe %>
</p>

<% if user_signed_in? %>
  <%if current_user.admin? || current_user.profesor?%>
    <p><b>Por:</b><%= @problem.user.nombre %></p>
  <% end %>
<% end %>

<%= link_to "Enviar solución", nuevo_intento_path( :numero => @problem.numero), :class=>"botonoff botones" if user_signed_in? %><br />

<%= link_to 'Lista de problemas', problems_path, :class=>"botonoff botones" %><br />

<% if user_signed_in? %>
  <%if current_user.admin? || current_user.profesor?%>
    <%= link_to 'Editar', edit_problem_path(@problem), :class=>"botonoff botones" %>
  <% end %>
<% end %>
