
<p>
  <h1><%= @problem.titulo %></h1>
  <b>Problema <%= @problem.numero %></b>
</p>

<p>
  <% if user_signed_in? %>
  <%= link_to "Enviar solucion", nuevo_intento_path( :numero => @problem.numero)%>
  <% end %>
</p>
<br />
<p>
  <%= @problem.descripcion.html_safe %>
</p>

<% if user_signed_in? %>
	<%if current_user.admin? || current_user.profesor?%>
			<p>
			 <b>Por:</b>
			 <%= @problem.user.nombre %>
			</p>
	<% end %>
<% end %>

<% if user_signed_in? %>
	<%if current_user.admin? || current_user.profesor?%>
		<%= link_to 'Editar', edit_problem_path(@problem) %>
	<% end %>
<% end %>
<%= link_to 'Lista de problemas', problems_path %>

