<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email, 'Correo' %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :password, 'Nueva contrase単a' %> <i>(Deje este campo en blanco si no desea cambiar la contrase単a)</i><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation, 'Confirmar nueva contrase単a' %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label :current_password, 'Contrase単a ' %> <i>(Es necesaria para guardar cambios)</i><br />
  <%= f.password_field :current_password %></p>

  <p><%= f.submit "Guardar cambios" %></p>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
